.center{
    text-align: center;
}

.top{
    padding-top: 50px;
}

.bold{
    font-weight: bold;
}

a:hover{
    color: darkred;
    text-decoration: underline;
}

a{
    color: black;
}

.underline{
    text-decoration: underline;
}