.logo{
    width: 120px;
    height:60px;
    object-fit: cover;
}

.search{
    width: 550px;
    height: 55px;
    padding:5px 15px; 
    border:2px black solid;
    border-radius: 5px;
}

.search_button{
    width: 55px;
    height: 55px;
    border:2px black solid;
}

.three_img{
    height: 60px;
    object-fit: cover;
}

.register_btn{
    position: absolute;
    right:0px;
}

.no_underline{
    text-decoration: none;
}

.dropdown-large{
    min-width:900px;
}
